# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Project specific
FORENSIC_REPORT.md
reports/FORENSIC_REPORT.md

# OS specific
.DS_Store
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
config.bat
node_modules
